<footer class="coll-footer">
  <div class="coll-footer-inner">

    <div class="coll-footer-col">
      <h4>I Tatti Digital Collections</h4>
      <p>A project of <a href="https://itatti.harvard.edu" target="_blank" rel="noopener">Villa I Tatti</a> &mdash; The Harvard University Center for Italian Renaissance Studies. Providing digital access to the Berenson Library's photographic, archival, and artistic holdings.</p>
    </div>

    <div class="coll-footer-col">
      <h4>Villa I Tatti</h4>
      <address>
        The Harvard University Center<br>
        for Italian Renaissance Studies<br>
        Via di Vincigliata 26<br>
        50135 Florence, Italy
      </address>
      <h4 style="margin-top: 24px;">Projects</h4>
      <ul class="coll-footer-list">
        <li><a href="http://mbdiaries.itatti.harvard.edu" target="_blank" rel="noopener">The Mary Berenson Diaries</a></li>
        <li><a href="http://yashiro.itatti.harvard.edu" target="_blank" rel="noopener">Yashiro &amp; Berenson</a></li>
        <li><a href="http://bellegreene.itatti.harvard.edu" target="_blank" rel="noopener">Letters of Belle da Costa Greene</a></li>
      </ul>
    </div>

    <div class="coll-footer-col">
      <div class="coll-footer-social">
        <a href="https://www.instagram.com/villaitatti/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/VillaITatti" target="_blank" rel="noopener" aria-label="X / Twitter"><i class="fab fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/VillaITatti" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="coll-footer-links">
        <a href="https://itatti.harvard.edu/privacy-statement" target="_blank" rel="noopener">Privacy</a><span class="coll-footer-sep">|</span>
        <a href="https://itatti.harvard.edu/accessibility" target="_blank" rel="noopener">Accessibility</a><span class="coll-footer-sep">|</span>
        <a href="https://itatti.harvard.edu/contact" target="_blank" rel="noopener">Contact</a><span class="coll-footer-sep">|</span>
        <a href="https://itatti.harvard.edu" target="_blank" rel="noopener">itatti.harvard.edu</a>
      </div>
      <div class="coll-footer-access">
        <mp-anonymous-hidden>
          <span>
            <a href="/sparql">SPARQL</a><span class="coll-footer-sep">|</span>
            <semantic-link iri="rsp:admin">Admin</semantic-link><span class="coll-footer-sep">|</span>
            <a id="logout-Link" href="/logout">Logout</a><span class="coll-footer-sep">|</span>
          </span>
        </mp-anonymous-hidden>
        <a id="login-Link" href="/login">Login</a>
      </div>
    </div>

  </div>
  <div class="coll-footer-bottom">
    <span>&copy; 2026 President and Fellows of Harvard College</span>
    <a href="https://dh.itatti.harvard.edu" target="_blank" rel="noopener">Built by DigiTatti</a>
  </div>
</footer>
