<footer class="footer">
    <div class="footer__pixel-groove"></div>
    <div id="footer-columns-container">
        <div class="col-md-2">
            <h3 class="footer-header">Column One</h3>
            <p class="footer-text">This is another example of Lorem ipsum. It's possible to write text that is going to
                fill a dedicated space for a specific graphical purpose. For example, writing more words etc.</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <h3 class="footer-header">Second Column</h3>
            <p class="footer-text">Lorem ipsum (sort of). Pretty useful to try some paragraph stylings and so on.</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <p class="text-muted">
                <span class="style--secondary-font">
                    <a class="text-muted" target="_blank" href="https://itatti.harvard.edu/">I Tatti, 2020</a>
                </span>
            </p>
        </div>
    </div>
</footer>
