<footer class="footer">
  <div class="col-md-4">
    <h3 class="footer-header">SUBSCRIBE</h3>
    <p class="footer-text">
        <a href="http://itatti.harvard.edu/os_mailchimp/js/subscribe/os_box_mailchimp" target="_blank">
      Click here to subscribe to the I Tatti News and Events Mailing List
      </a>
      </p>
  </div>
  <div class="col-md-4">
    <h3 class="footer-header">VILLAITATTI</h3>
    <p class="footer-text">The Harvard University Center for Italian Renaissance
      Studies | Via di Vincigliata 26, 50135 Florence, Italy © 2021 President
      and Fellows of Harvard College
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="footer-header icon-holder">
      <a href="http://www.youtube.com/user/VillaITatti" target="_itatti_social">

        <img src="/assets/images/icons/youtube.svg" />
      </a>
      <a href="https://www.facebook.com/villaitatti" target="_itatti_social">
        <img src="/assets/images/icons/facebook.svg" />
      </a>
      <a href="https://www.instagram.com/villaitatti/" target="_itatti_social">
        <img src="/assets/images/icons/instagram.svg" />
      </a>
    </h3>
    <p class="footer-text">
      <span>
          <a href="http://itatti.harvard.edu/privacy-policy"       target="_blank">Privacy Policy</a>&nbsp;
      </span>&nbsp;<span><strong>|</strong></span>&nbsp; &nbsp;<span><a
          href="https://accessibility.huit.harvard.edu/digital-accessibility-policy"
          target="_blank"
        >Digital Accessibility</a>&nbsp;&nbsp;&nbsp;</span><span><strong
        >|</strong></span><span>&nbsp; &nbsp;</span><span><a
          href="https://www.google.it/maps/place/Villa+I+Tatti/@43.7865713,11.3077243,17z/data=!3m1!4b1!4m2!3m1!1s0x132a54f29dbe27bb:0x6c3f41e7e7e568ad"
        >Map</a>&nbsp;&nbsp;&nbsp;</span><span><strong>|</strong></span><span
      >&nbsp; &nbsp;</span><span><a
          href="https://profile.itatti.harvard.edu"
          target="_blank"
          title=""
        >VIT ID</a>&nbsp;&nbsp;</span>&nbsp;<span><strong
        >|</strong></span>&nbsp; &nbsp;<span><a
          href="https://login.microsoftonline.com/"
          title=""
        >Webmail</a>&nbsp;&nbsp;</span>&nbsp;<span><strong
        >|</strong></span>&nbsp; &nbsp;<a
        href="https://community.itatti.harvard.edu"
        target="_blank"
        title=""
      ><span>Intranet</span></a>

    </p>
  </div>
</footer>