<nav id="collection" class="itatti-collection-navbar" role="navigation">
  <div class="collection-navbar-inner">
    <a href="/resource/collection:Start" class="collection-navbar-logo">
      <img src="/assets/images/logo.png" alt="I Tatti Digital Collections">
    </a>
    <ul class="collection-navbar-nav">
      <li><a href="/resource/collection:Start#collections">Collections</a></li>
      <li><a href="/resource/collection:Start#projects">Projects</a></li>
      <li><a href="/resource/collection:Start#about">About</a></li>
    </ul>
  </div>
</nav>
