.rs-header-logo {
  font-size: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
#collection .navbar-header:hover {
  filter: drop-shadow(45px 25px 0px #dedede);
}

#collection .navbar-header {
  background: url(/assets/images/logos/logocollections.png);
  font-size: 0 !important;
  width: 80px;
  margin-left: 1vw;
  transition: 0.4s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar {
  margin-bottom: 35px;
}

.navbar .container {
  width: 100%;
  background: white;
  height: 100%;
  margin-top: 10px;
  padding-bottom: 5px;
  min-height: 84px;
}
.navbar-default .navbar-nav a {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  transition: 0.3s;
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: black !important;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  filter: drop-shadow(0px 0px 0px var(--color-primary-100));
}

.navbar .contact {
  background: var(--color-primary-100);
  transition: 0.3s;
  height: 40px !important;
  margin-top: 20px;
  margin-left: 10px;
}
.navbar-collapse.pull-right.collapse {
  background: white;
}

.navbar .contact:hover {
  box-shadow: 0px 0px 4px 2px #b5b5b5;
}
.navbar .contact a {
  color: white !important;
}

.navbar-default .navbar-toggle {
  background: gray;
}
.collapse.navbar-collapse,
.navbar-header,
.navbar-nav,
.navbar-nav > li,
.navbar-nav > li > a,
.rs-header {
  line-height: 3.2 !important;
}
.navbar + .navbar {
  width: 85vw !important;
}

#logout-Link + #login-Link {
  display: none;
}

ul.nav.navbar-nav li{
  margin-right: 25px;
}


@media (max-width: 800px) {
  .navbar {
    height: 0 !important;
    width: 100vw !important;
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-nav .btn {
    border-radius: 0 !important;
    background: whitesmoke !important;
  }
  .navbar .container {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-header {
    padding: 5px 0 !important;
  }
  .navbar-header + .pull-right {
    float: unset !important;
  }
}
