.workAndProductionInfo {
  display: grid;
  grid-template-columns:  minmax(300px,25%) 1fr;
  margin-top: 20px;
}

.workAndProductionInfo .workInfoContainer {
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px #f8f8f8;
}

.workAndProductionInfo .productionInfoContainer {
  width: 45%;
  margin: 10px;
  padding: 20px;
  min-width: 500px;
  box-shadow: 0px 0px 20px 1px #f8f8f8;
}



.workAndProductionInfo .image-container img.thumbnailImage {
  height: 50vh;
  width: 100%;
  object-fit: contain;
}

.rs-application .semantic-carousel > .slick-slider .slick-next:before,
.rs-application .semantic-carousel > .slick-slider > .slick-prev:before {
  color: #000000 !important;
}


.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.workAndProductionInfo ul.slick-dots {
  top: unset;
}
.slick-prev {
  top: 15px;
  left: 0;
}
.slick-next {
  top: 15px;
  left: 30px;
}
.rs-application .semantic-carousel > .slick-slider .slick-next:before, .rs-application .semantic-carousel > .slick-slider > .slick-prev:before {
  color: #aa182b !important;
  background: white;
  border-radius: 100%;
  opacity: 1;
}

@media (max-width: 1480px) {
  .workAndProductionInfo .productionInfoContainer {
    width: 100% !important;
  }

}
@media (max-width: 800px) {
.workAndProductionInfo .workInfoContainer {
  min-width: unset !important;
  margin: 0 !important;
  padding: 10px !important;
}
.workAndProductionInfo .productionInfoContainer {
  width: 100vw !important;
  min-width: unset !important;
  margin: 0 !important;
  padding: 10px !important;
}
}