<link rel="stylesheet" href="/assets/styles/collection.css" />

<bs-navbar id="collection-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">

    <semantic-link class="collection-header-logo" iri="collection:Search">
      Collections
    </semantic-link>

    <bs-navbar-collapse class="pull-right">
      <bs-nav>

        <bs-nav-item>
          <semantic-link class="rs-body-m-M" iri="collection:Search">Search</semantic-link>
        </bs-nav-item>

        <bs-nav-item>
          <semantic-link class="rs-body-m-M" iri="collection:People">People</semantic-link>
        </bs-nav-item>

        <bs-nav-item>
          <semantic-link class="rs-body-m-M" iri="collection:Repositories">Repositories</semantic-link>
        </bs-nav-item>

      </bs-nav>
    </bs-navbar-collapse>

  </div>
</bs-navbar>
