<div id="printableInfo" class="workAndProductionInfo">
  <!-- Fields for Work (Artwork or photograph) -->

  <div class="image-container">

  <semantic-carousel
  query='
        SELECT DISTINCT ?imgUrl  WHERE {                    
          {
            # Artwork Image #
            ?? fr:Work_depicted_by_Photo ?photo.
            ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
            BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!500,500") AS ?imgUrl).
            ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>
          }UNION{
            # Photo Image #
            ?artwork fr:Work_depicted_by_Photo ?? .
            ?artwork fr:Work_depicted_by_Photo ?photo .
            ?photo crm:P129i_is_subject_of ?fullsizeImgUrl.
            FILTER(?photo = ??).
            BIND(REPLACE(STR(?fullsizeImgUrl),"full/full","full/!500,500") AS ?imgUrl).
            ?fullsizeImgUrl crm:P2_has_type <http://vocab.getty.edu/aat/300078817>
          }
      }ORDER BY ASC(?imgUrl) '
  tuple-template='{{>tuppleBoy}}'
>
<template id="tuppleBoy">

  <img
  alt='   '
  class="thumbnailImage"
  src="{{imgUrl.value}}"
  />
</template>
</semantic-carousel>










</div>
  <div class="workInfoContainer">
  <!-- Fields for Production -->
    <mp-field-visualization
      subject="[[this]]"
      fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field   <http://www.researchspace.org/resource/system/fields/domain> crm:E22_Man-Made_Object. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)}} ORDER BY ASC(?orderNo)" ]]'
      template="{{>productionInfo}}"
    >
      <template id="productionInfo">
        {{#if noData}}
        <div></div>
        {{else}}
        [[> :ResourceFieldBasedVisualization subject=[[this]]
        showSourceIcon="true" ]] {{/if}}
      </template>
    </mp-field-visualization>
</div>
</div>
