<div id="simple-search">
  <semantic-search
    id="semantic-search"
    limit="10000"
    relations='[[> Default:SearchSimpleRelations]]'
    search-profile='[[> Default:SearchSimpleProfile]]'
  >
  <semantic-query query='
  SELECT ?token WHERE{
    BIND(REPLACE("[[urlParam "keyword"]]","(?<!^)(?<!\\s)\\s+(?!\\s+)(?!$)", " AND ") as ?token)
  }
  '
  template="{{>addAndTemplate}}"
  >
  <template id="addAndTemplate">
  
  <div>
  <semantic-search-query-keyword
  placeholder='You searched for [[urlParam "keyword"]], but you can search for anything!'
  domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
  escape-lucene-syntax="false"
  default-query='
  PREFIX bds: <http://www.bigdata.com/rdf/search#>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  PREFIX fc: <https://collection.itatti.harvard.edu/resource/custom/fc/>
  PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
  PREFIX fr: <https://collection.itatti.harvard.edu/resource/custom/fr/>
  PREFIX hint: <http://www.bigdata.com/queryHints#>
  select ?subject where{
  ?subject <https://collection.itatti.harvard.edu/resource/custom/fr/Photo_kept_by_Institution>  <https://collection.itatti.harvard.edu/resource/actor/9000418019>
  
}LIMIT 1000
  '
  query='
  SELECT ?nothing WHERE{
    ?nothing a <http://this_is_hidden_and_will_never_run>
  }
  '
  class="hiddenSearchbar"
  ></semantic-search-query-keyword>
  <div class="superRow">
  <bs-col
    lg="3"
    md="4"
    sm="5"
    class="fade-in-fwd filters-container"
    style="margin-top: 8px"
    id="artwork-filter-search"
  >
  <bs-panel id="filter-panel" header="Filters"  collapsible="true" default-expanded="true">
    <semantic-search-facet 
    open-by-default="true"
    facet-value-height="150px"
    ></semantic-search-facet>
  </bs-panel>
  </bs-col>
  <bs-col lg="9" md="8" sm="7">
    <semantic-search-result-holder>
      <div>
      <semantic-search-result>
        <semantic-query
          id="view-more"
          query='SELECT ?keywords WHERE {
            BIND(REPLACE(str("[[urlParam "keyword"]]"),"\\+"," ") as ?keywords)
          }'
          template="{{>currentSearchText}}"
        >
          <template id="currentSearchText">
            <h2>
              Searched in artworks for:
              <i>{{bindings.0.keywords.value}}</i>
            </h2>
          </template>
        </semantic-query>
        <semantic-query
          id="view-more"
          query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE {
          } LIMIT 1'
          template="{{>currentResultCount}}"
        >
          <template id="currentResultCount">
            <h2>
                Found {{bindings.0.count.value}} relevant results
            </h2>
          </template>
        </semantic-query>
        <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
        <div id='artwork-filter-search-inline'>

          <bs-tab-container
          id="tab-container"
          class="page__body-navtabs--borderless"
          default-active-key="list"
        >
          <div>
            <bs-nav class="change-view-options" bs-style="tabs">
              <bs-nav-item event-key="table">
                <div class="fa fa-table"></div>
              </bs-nav-item>
              <bs-nav-item event-key="list">
                <div class="fa fa-list"></div>
              </bs-nav-item>
              <bs-nav-item event-key="grid">
                <div class="fa fa- fa-th"></div>
              </bs-nav-item>
            </bs-nav>

            <bs-tab-content unmount-on-exit="true">
              <bs-tab-pane event-key="grid">
                <semantic-table
                id="grid-result"
                query='SELECT DISTINCT  ?subject  WHERE {
                }LIMIT 100'
                number-of-displayed-rows="12"
                tuple-template="{{> subjectCellTemplate}}"
                options='{"showTableHeading": false, "showFilter":false}'
                no-result-template='<h1>No results found..</h1>'
              >
                <template id="subjectCellTemplate">
                  <div class="no-spinner">
                  [[> Default:CardArtworkSmall]]
                  </div>
                </template>
                </semantic-table>
              </bs-tab-pane>
              <bs-tab-pane event-key="list">
                <semantic-table
                id="grid-result"
                query='SELECT DISTINCT  ?subject  WHERE {
                }LIMIT 100'
                number-of-displayed-rows="12"
                tuple-template="{{> subjectCellTemplate}}"
                options='{"showTableHeading": false, "showFilter":false}'
                no-result-template='<h1>No results found..</h1>'
              >
                <template id="subjectCellTemplate">
                  <div class="no-spinner">
                  [[> Default:CardArtwork]]
                  </div>
                </template>
                </semantic-table>
              </bs-tab-pane>
              <bs-tab-pane event-key="table">
                [[> Default:SearchResultTableWork]]
                
              </bs-tab-pane>
            </bs-tab-content>
          </div>
        </bs-tab-container>
        </div>
      </semantic-search-result>
      </div>
    </semantic-search-result-holder>
  </bs-col>
  </div>
  </div>
  
  </template>
  </semantic-query>
</semantic-search>
</div>