{
  "<https://collection.itatti.harvard.edu/resource/custom/fr/Person_has_Date_of_Birth>":[
  {
    "kind": "numeric-range",
    "queryPattern": "
      $subject fr:Person_has_Date_of_Birth ?gYear .
        FILTER(?literal >= ?__numericRangeBeginValue__) .
        FILTER(?literal <= ?__numericRangeEndValue__) .
        BIND(xsd:integer(str(?gYear)) as ?literal)."
  }],
  "<https://collection.itatti.harvard.edu/resource/custom/fr/Person_has_Date_of_Death>": [
  {
    "kind": "numeric-range",
    "queryPattern": "
      $subject fr:Person_has_Date_of_Death ?gYear .
        FILTER(?literal >= ?__numericRangeBeginValue__) .
        FILTER(?literal <= ?__numericRangeEndValue__) .
        BIND(xsd:integer(str(?gYear)) as ?literal)."
  }],
  "<https://collection.itatti.harvard.edu/resource/custom/fr/Event_has_Type>": [
  {
    "kind": "literal",
    "queryPattern": "
      $subject fr:Person_has_Event ?event.
        ?event fr:Event_has_Type ?__value__ ."
  }],
  "<https://collection.itatti.harvard.edu/resource/custom/fr/Event_at_Place>": [
  {
    "kind": "resource",
    "queryPattern": "
      $subject fr:Person_has_Event ?event.
        ?event fr:Event_at_Place ?__value__ ."
  }],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Work_kept_by_Institution>":[
{
  "kind": "resource",
  "queryPattern": "
      $subject fr:Work_kept_by_Institution ?__value__.
  "
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Work_from_Place>": [
{
  "kind": "resource",
  "queryPattern": "
    $subject fr:Work_from_Place ?__value__.
  "
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Person_has_Date_of_Birth>":[
{
  "kind": "numeric-range",
  "queryPattern": "
      $subject fr:Person_has_Date_of_Birth ?gYear .
      FILTER(?literal >= ?__numericRangeBeginValue__) .
      FILTER(?literal <= ?__numericRangeEndValue__) .
      BIND(xsd:integer(str(?gYear)) as ?literal)."
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Person_has_Date_of_Death>": [
{
  "kind": "numeric-range",
  "queryPattern": "
      $subject fr:Person_has_Date_of_Death ?gYear .
      FILTER(?literal >= ?__numericRangeBeginValue__) .
      FILTER(?literal <= ?__numericRangeEndValue__) .
      BIND(xsd:integer(str(?gYear)) as ?literal)."
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Event_has_Type>": [
{
  "kind": "resource",
  "queryPattern": "
      $subject fr:Person_has_Event ?event.
      ?event fr:Event_has_Type ?__value__ ."
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Event_at_Place>": [
{
  "kind": "resource",
  "queryPattern": "
    
      $subject fr:Person_has_Event ?event.
      ?event fr:Event_at_Place ?__value__ ."
}],
"<https://collection.itatti.harvard.edu/resource/custom/fr/Work_from_Date>": [{
  "kind": "date-range",
  "datatype": "http://www.w3.org/2001/XMLSchema#date",
  "queryPattern": "
  $subject fr:Work_from_Date ?dateStart.
  $subject fr:Work_from_Date ?dateEnd .
  "}],
  "<https://collection.itatti.harvard.edu/resource/custom/WithImage>": [{
    "kind": "literal",
    "queryPattern": "
      BIND(\"Without image\" as ?withoutImage ).
      {
        $subject fr:Work_depicted_by_Photo ?photo.
        ?photo crm:P129i_is_subject_of ?fullImage.
        BIND(\"With image\" as ?withImage ).
      }UNION{
        ?subject crm:P129i_is_subject_of ?fullImage.
        BIND(\"With image\" as ?withImage ).
      }
      BIND(COALESCE(?withImage, ?withoutImage) AS ?literal) .
    "}],
    "<https://collection.itatti.harvard.edu/custom/has_provider>": [
    {
      "kind": "resource",
      "queryPattern": "
          $subject ?__relation__ ?__value__.
          ?__value__ rdfs:label ?providerLabel.
          FILTER(?providerLabel != \"I Tatti\")
          "
    }]
}