<div id="home-page">
  <div class="home-header-container">
    <div class="home-header">
      <div class="message">
        Welcome to I Tatti Digital Collections
      </div>
      <div class="searchbar">
        <form>
          <input
            required
            minlength="2"
            spellcheck="true"
            class="form-control"
            pattern="[A-Za-z0-9\s]+"
            placeholder="Search the collection"
            type="search"
            title="Type at least 2 characters, only alphanumeric e.g. (Mona Lisa 1503)"
            id="site-search"
            name="keyword"
            aria-label="Search through site content"
          />
          <input type="hidden" name="uri" value="Default:Search" />
          <button
            type="submit"
            class="btn searchBtn"
          >
            <i class="fa fa-search"></i>
          </button>
        </form>
        <semantic-link  class="structured-search-option" iri="Default:StructuredSearch">
            Structured search
      </semantic-link>
      </div>
    </div>
  </div>
  <div class="home-body-grid">
    <div class="grid-option">
      <div class="option-content">
        <div class="content-title">
          Photo Archive
        </div>
        <div class="content-subtitle">
          This online exhibition explore the aftermath of a devastating flood in Florence, Italy in
          1966 and the preservation efforts of the Committee to Rescure Italian Art.
        </div>
      </div>
    </div>
    <div class="grid-option">
      <div class="option-content">
      <div class="content-title">
        Archive
      </div>
      <div class="content-subtitle">
        An online catalogue that transforms Bernard Berenson's The Drawings of the Florentine Painters 
        into Linked Open Data. Generously sponsored by the Samuel H. Kress Foundation.
      </div>
    </div>
    </div>
    <div class="grid-option">
      <div class="option-content">
      <div class="content-title">
        Art Collection
      </div>
      <div class="content-subtitle">
        Through photographs, documents, student writings and scholarly essays, this exhibition offers
        engaging portrayals of the two students.
      </div>
      </div>
    </div>
    <div class="grid-option">
      <div class="option-content">
      <div class="content-title">
        Rare Books
      </div>
      <div class="content-subtitle">
        Through a series of recorded interviews, this online exhibition features a collection
        of first person accounts of I Tatti.
      </div>
      </div>
    </div>
  </div>
</div>
<style>

</style>
